<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend/Default"/>

<f:section name="content">
    <h1>Form overviews</h1>
    <p class="lead">Forms are acrusial part regarding privacy. Listing of all forms</p>


    <f:if condition="{forms}">
        <f:then>
            <f:for each="{forms}" key="extension" as="forms">

                <div class="panel panel-space panel-default">
                    <div class="panel-heading">{extension}</div>
                    <f:if condition="{forms}">
                        <f:then>
                            <f:render partial="Forms/Listing" arguments="{_all}"/>
                        </f:then>
                        <f:else>
                            <div class="alert alert-info">No forms found.</div>
                        </f:else>
                    </f:if>
                </div>
            </f:for>
        </f:then>
        <f:else>
            <f:be.infobox title="No form extension used">
                <p>The following extensions are currently checked:</p>
                <ul>
                    <li><a href="https://docs.typo3.org/typo3cms/extensions/form/" target="_blank" rel="noopener noreferrer">Form (by TYPO3 Core)</a></li>
                    <li><a href="https://extensions.typo3.org/extension/powermail/" target="_blank" rel="noopener noreferrer">powermail</a></li>
                    <li><a href="https://extensions.typo3.org/extension/formhandler/" target="_blank" rel="noopener noreferrer">formhandler</a></li>
                </ul>
            </f:be.infobox>
        </f:else>
    </f:if>


</f:section>
</html>
