<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend/Default"/>

<f:section name="content">
    <h1>Help</h1>
    <p class="lead">Some words about GDPR</p>


    <p>A robust PIA should document the following information: Taken from <a
            href="https://www.smashingmagazine.com/2018/02/gdpr-for-web-developers/">www.smashingmagazine.com/2018/02/gdpr-for-web-developers/</a>
    </p>

    <section class="card-container">


        <div class="card card-size-medium">
            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="actions-database" size="default"/>
                </div>
                <div class="card-header-body">
                    <h3 class="card-title">Data collection and retention</h3>
                    <div class="card-longdesc">
                        <ol>
                            <li>What personal data is processed</li>
                            <li>How is that data collected and retained?</li>
                            <li>Is the data stored locally, on our servers, or both?</li>
                            <li>For how long is data stored, and when is the data deleted?</li>
                            <li>Is the data collection and processing specified, explicit, and legitimate?</li>
                            <li>What is the process for granting consent for the data processing, and is consent
                                explicit
                                and
                                verifiable?
                            </li>
                            <li>What is the basis of the consent for the data processing?</li>
                            <li>If not based on consent, what is the legal basis for the data processing?</li>
                            <li>Is the data minimized to what is explicitly required?</li>
                            <li>Is the data accurate and kept up to date?</li>
                            <li>How are users informed about the data processing?</li>
                            <li>What controls do users have over the data collection and retention?</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="card card-size-medium">
            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="actions-lock" size="default"/>
                </div>
                <div class="card-header-body">
                    <h3 class="card-title">Technical and security measures</h3>
                    <div class="card-longdesc">
                        <ol>
                            <li>Is the data encrypted?</li>
                            <li>Is the data anonymized or pseudonymized?</li>
                            <li>Is the data backed up?</li>
                            <li>What are the technical and security measures at the host location?</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-size-medium">
            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="apps-pagetree-page-backend-users" size="default"/>
                </div>
                <div class="card-header-body">
                    <h3 class="card-title">Personnel</h3>
                    <div class="card-longdesc">
                        <ol>
                            <li>Who has access to the data?</li>
                            <li>What data protection training have those individuals received?</li>
                            <li>What security measures do those individuals work with?</li>
                            <li>What data breach notification and alert procedures are in place?</li>
                            <li>What procedures are in place for government requests?</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-size-medium">
            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="actions-localize" size="default"/>
                </div>
                <div class="card-header-body">
                    <h3 class="card-title">Subject access rights</h3>
                    <div class="card-longdesc">
                        <ol>
                            <li>How does the data subject exercise their access rights?</li>
                            <li>How does the data subject exercise their right to data portability?</li>
                            <li>How does the data subject exercise their rights to erasure and the right to be
                                forgotten?
                            </li>
                            <li>How does the data subject exercise their right to restrict and object?</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-size-medium">
            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="actions-system-extension-documentation" size="default"/>
                </div>
                <div class="card-header-body">
                    <h3 class="card-title">Legal</h3>
                    <div class="card-longdesc">
                        <ol>
                            <li>Are the obligations of all data processors, including subcontractors, covered by a
                                contract?
                            </li>
                            <li>If the data is transferred outside the European Union, what are the protective measures
                                and
                                safeguards?
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-size-medium">
            <div class="card-header">
                <div class="card-icon">
                    <core:icon identifier="actions-system-cache-clear-impact-high" size="default"/>
                </div>
                <div class="card-header-body">
                    <h3 class="card-title">Risks</h3>
                    <div class="card-longdesc">
                        <ol>
                            <li>What are the risks to the data subjects if the data is misused, mis-accessed, or
                                breached?
                            </li>
                            <li>What are the risks to the data subjects if the data is modified?</li>
                            <li>What are the risks to the data subjects if the data is lost?</li>
                            <li>What are the main sources of risk?</li>
                            <li>What steps have been taken to mitigate those risks?</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

</f:section>
</html>
